/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを書いていきましょう */
header {
    height: 70px;
    background: darkslateblue;
    opacity: 0.9;
}

h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    padding: 10px;
}

main {
  height: 680px;
  background: papayawhip;
}

li {
  color: blue;
  padding-top: 20px;
  padding-left: 20px;
}

img {
  height: 200px;
}

.class1 {
  position: relative;
  bottom: 0px;
  left: 50px;
}

.p1 {
  position: absolute;
  bottom: 0px;
  left: 50px;
}

footer {
  height: 50px;
  background: darkslateblue;
  opacity: 0.9;
}

footer h3 {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  padding: 15px;
}